<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <title>Login Form Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body class="background">
<main class="container mt-5" role="main">
    <!-- Login form template begins here -->
    <div class="card background-color-card border-radius-15px border-none" th:fragment="loginform">
        <div class="container">
            <div class="row">
                <div th:replace="fragments/logo :: logo">
                    <a href="fragments/logo.html">Logo goes here</a>
                </div>

                <div class="col-sm p-3em max-width-50p">
                    <form action="login" class="color-white" id="fm1" method="post" th:object="${credential}">

                        <section class="m-t-1em">
                            <h6 class="text-align-center font-weight-bold"
                                th:unless="${existingSingleSignOnSessionAvailable}">
                                <span th:if="${registeredService}"
                                      th:text="'SEJA BEM-VINDO AO SISTEMA - ' + ${registeredService.description}"> SEJA BEM-VINDO AO SISTEMA - NOME_SISTEMA </span>
                                <span th:unless="${registeredService}"> SEJA BEM-VINDO AO SISTEMA - SSO </span>
                            </h6>
                        </section>

                        <div th:unless="${delegatedAuthenticationProviderConfigurations} OR ${wsfedUrls}">
                            <section class="form-group m-t-1em">
                                <span id="cpf-label">Login</span>

                                <div th:if="${openIdLocalId}">
                                    <strong> <span th:utext="${openIdLocalId}"/>
                                    </strong> <input id="username" name="username" th:value="${openIdLocalId}"
                                                     type="hidden"/>
                                </div>
                                <div th:unless="${openIdLocalId}">
                                    <i class="fa font-size-20px fa-exclamation-circle color-error position-absolute right-15px"
                                       id="icon-error"
                                       style="display: none;"></i> <input
                                        autocomplete="off" class="form-control required angular-input" id="username"
                                        size="25"
                                        tabindex="1" th:disabled="${guaEnabled}" th:field="*{username}"
                                        type="text"/> <span class="color-error" id="username-error"
                                                                   style="display: none;">
                                    </span>
                                </div>
                                <div class="color-error" th:if="${#fields.hasErrors('*')}">
                                    <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"> Example
                                        error <br>
                                    </span>
                                </div>
                            </section>

                            <section class="form-group m-t-1em" id="section-password">
                                <span> Senha </span>

                                <div>
                                    <input autocomplete="off" class="form-control required angular-input" id="password"
                                           size="25" tabindex="2" th:field="*{password}" type="password"/> <span
                                        class="color-error" id="capslock-on" style="display: none;">
                                        <p>
                                            <i
                                                    class="fa fa-exclamation-circle"></i>
                                            <span
                                                    th:utext="#{screen.capslock.on}"/>
                                        </p>
                                    </span>
                                </div>
                            </section>

                            <input name="execution" th:value="${flowExecutionKey}" type="hidden"/> <input
                                name="_eventId" type="hidden" value="submit"/> <input name="geolocation"
                                                                                      type="hidden"/>

                            <p th:if="${#request.getMethod().equalsIgnoreCase('POST')}">
                                <span th:each="entry : ${httpRequestInitialPostParameters}" th:remove="tag"> <span
                                        th:each="entryValue : ${entry.value}"
                                        th:remove="tag"> <input
                                        th:name="${entry.key}"
                                        th:value="${entryValue}"
                                        type="hidden"/>
                                </span>
                                </span>
                            </p>

                            <input accesskey="l"
                                   class="btn btn-block btn-submit btn-funpresp font-weight-bold border-radius-5px line-height-2em"
                                   id="btn-avancar" name="submit" tabindex="6" type="submit" value="Acessar"/></div>

                        <section id="loginProviders"
                                 th:if="${delegatedAuthenticationProviderConfigurations} OR ${wsfedUrls}">
                            <div th:replace="fragments/loginProviders :: loginProviders">
                                <a href="fragments/loginProviders.html">loginProviders</a>
                            </div>
                        </section>

                    </form>

                    <script th:inline="javascript" type="text/javascript">
                        /*<![CDATA[*/
                        var i = /*[[@{#{screen.welcome.button.loginwip}}]]*/
                        var j = /*[[@{#{screen.welcome.button.login}}]]*/
                            /*]]>*/
                            $(window).on('pageshow', function () {
                                $(':submit').prop('disabled', false);
                            });
                        $(document).ready(function () {
                            $("#fm1").submit(function () {
                                $(":submit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>
                </div>
            </div>
            <div th:replace="fragments/version :: version">
                <a href="fragments/version.html">Version goes
                    here</a>
            </div>
        </div>
    </div>
</main>
</body>

</html>
