<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Logo Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div th:fragment="logo" class="col-sm column vertical-line p-r-45px">
            <div class="row h-100 m-r-15px">
                <img th:src="@{/images/cas-logo.png}" style="width: 400px; opacity: 0.7;" class="m-h-auto align-self-center" />
            </div>
        </div>
    </main>
</body>

</html>