<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Login View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>

</head>

<body class="login mdc-typography">
<div class="container-fluid mt-3 mb-3" layout:fragment="content">

    <section class="width-70p margin-auto" id="loginForm"
             th:if="${@casThymeleafLoginFormDirector.isLoginFormViewable(#vars)}">
        <div th:replace="fragments/loginform :: loginform">
            <a href="fragments/loginform.html">Login Form goes here</a>
        </div>
    </section>

</div>
</body>

</html>